Temp
Library
Logs
CodeCoverage
UserSettings
obj
obj.meta

.idea

*.sln
*.csproj
*.DotSettings.user

# Ignore coverage settings, as they are changed often
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
