name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  requestActivation: false

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        unityVersion:
          # - 2018.4.28f1 2018 doesn't support git packages
          #- 2019.4.13f1
          - 2020.1.13f1

        # No dots allowed in secret names, so we need to have this mapping
        include:
          #- unityVersion: 2019.4.13f1
          #  licenseSecret: UNITY_LICENSE_2019
          - unityVersion: 2020.1.13f1
            licenseSecret: UNITY_LICENSE_2020_1_13

    steps:
      - uses: actions/checkout@v2

      - name: Request manual activation file
        if: env.requestActivation == 'true'
        id: getManualLicenseFile
        uses: webbertakken/unity-request-manual-activation-file@v2.0-alpha-1
        with:
          unityVersion: ${{ matrix.unityVersion }}

      - name: Upload activation atrifact
        if: env.requestActivation == 'true'
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.unityVersion }}
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}

      - uses: testspace-com/setup-testspace@v1
        with:
          domain: ${{github.repository_owner}}

      - name: Cache
        uses: actions/cache@v2.1.2
        with:
          path: Library
          key: Library-${{ matrix.unityVersion }}

      - name: Run tests
        if: env.requestActivation == 'false'
        id: tests
        uses: webbertakken/unity-test-runner@f78eb5b9faac64fc7450bae1eb8cbfa45e287abf
        env:
          UNITY_LICENSE: ${{ secrets[matrix.licenseSecret] }}
        with: 
          unityVersion: ${{ matrix.unityVersion }}
          testMode: playmode
          customParameters: -enableCodeCoverage
            -coverageResultsPath "artifacts/CodeCoverage/"
            -coverageOptions assemblyFilters:+Responsible
            -nographics
      
      - name: Push test results
        if: ${{ always() }}
        run: testspace
          [${{ matrix.unityVersion }}]artifacts/playmode-results.xml
          [${{ matrix.unityVersion }}]artifacts/CodeCoverage/workspace-opencov/PlayMode/TestCoverageResults_0000.xml

      - uses: codecov/codecov-action@v1
        with:
          file: artifacts/CodeCoverage/workspace-opencov/PlayMode/TestCoverageResults_0000.xml
          fail_ci_if_error: true
          verbose: true

      - name: Archive test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2.2.0 
        with:
          name: Test Results ${{ matrix.unityVersion }}
          path: artifacts

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
