name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: gaurav-nelson/github-action-markdown-link-check@v1

      - name: Cache
        uses: actions/cache@v2.1.2
        with:
          path: Library
          key: Library

      - name: Run tests
        id: tests
        uses: webbertakken/unity-test-runner@v1.7
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with: 
          unityVersion: 2019.4.13f1
      
      - name: Archive test results
        uses: actions/upload-artifact@v2.2.0 
        with:
          name: Test Results
          path: artifacts
